@page
@model BitcubeEval.Pages.AppUser.FindFriendsModel
@{
    ViewData["Title"] = "FindFriends";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserList[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserList[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserList[0].LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ApplicationUserList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <form method="post">
                        <input asp-page-handler="SendRequest" asp-route-id="@Model.ApplicationUser.ID" asp-route-friendId="@item.ID" type="submit" value="Send Request" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

